<!-- Author: Dimitrios Poulimenos -->
{% extends "base.html" %}

{% block content %}
    <div class="row" >
        <div class="col-md-6 mb-4">
            <div style="font-size: 18px;">
                <h1>Project members</h1>
                <ul>
                    <li>Dimitris Poulimenos <a target="_blank" style="text-decoration: none" href="https://github.com/dpoulimen0s">GitHub</a></li>
                    <li>William Joseph Brook Newbould <a target="_blank1" style="text-decoration: none" href="https://github.com/WillNewbo12">GitHub</a></li>
                    <li>Jackson Thomas <a target="_blank2" style="text-decoration: none" href="https://github.com/jacky-ct">GitHub</a></li>
                    <li>Will Adams <a target="_blank3" style="text-decoration: none" href="https://github.com/c0039921">GitHub</a></li>
                    <li>Zhuolin Yong <a target="_blank4" style="text-decoration: none" href="https://github.com/b9067280">GitHub</a></li>
                </ul>
            </div>

            <div style="font-size: 18px;">
                <p style="margin-top: 80px;">You can send us an email: <a style="text-decoration: none;" href="mailto:cbn.tracer@gmail.com">cbn.tracer@gmail.com</a></p>
            </div>

        </div>

        <div class="col-md-6 mb-4">
            <div class="mapouter">
                <div class="gmap_canvas">
                    <iframe width="100%" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=Newcastle University&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    <br>
                    <style>.gmap_canvas {overflow:hidden;background:none!important;height:400px;width:100%;}</style>
                </div>
            </div>
        </div>

    </div>
    <hr style="margin-top: -100px;">
    <!-- Contact Form -->
    <h3 class="mb-3 pb-2 pb-md-0 mb-md-5">Contact Us</h3>
    <form action="https://getform.io/f/30353374-3bd6-4e6e-aa4f-21ae601c5790" method="POST">
        <div class="row">
            <div class="col-md-6 mb-3 ">
                  <div class="form-floating mb-3">
                      <input name="First Name" type="text" class="form-control" id="firstname" placeholder="firstname" required>
                      <label for="firstname">First Name</label>
                  </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="form-floating mb-3">
                    <input name="Last Name" type="text" class="form-control" id="lastname" placeholder="lastname" required>
                    <label for="lastname">Last Name</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-4">
                  <div class="form-floating mb-3">
                      <input type="email" name="email" class="form-control" id="email" placeholder="email" required>
                      <label for="email">Email</label>
                  </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="form-floating">
                    <input type="text" name="Subject" class="form-control" id="subject" placeholder="email" required>
                    <label for="subject">Subject</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-floating mb-3">
                <textarea class="form-control" name="Message" placeholder="message" id="message" style="height: 100px" required></textarea>
                <label style="margin-left: 10px" for="message">Message</label>
            </div>
        </div>
        <div class="mt-4 pt-2">
            <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
        </div>
    </form>
{% endblock %}